@font-face {
    font-family: Phenomena;
    src: url(../style/font/Phenomena.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #d9dfea;
    font-family: Phenomena;
    transition: all 0.5 ease-in-out;
    width: 100%;
    height: 100%;
}

.bg {
    background: url(../style/img/bg-screen.jpg);
    background-repeat: no-repeat;
    background-position: top;
    height: 650px;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    background: url(../style/img/bg-header.jpg);
    width: 1200px;
    height: 74px;
    margin: auto;
    border-radius: 10px;
    margin-top: -625px;
}

header a {
    font-size: 1.5rem;
    padding: 25px;
    z-index: 10;
}

header a:hover {
    background: #529395;
    transition: background 0.5s ease;
}

.navLeft a:first-child:hover {
    border-radius: 10px 0 0 10px;
}

.navRight a:last-child:hover {
    border-radius: 0 10px 10px 0;
}

.navLeft,
.navRight {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.firstScreen {
    width: 1280px;
    margin: auto;
}

.hero {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 482px;
    position: relative;
    top: -21.5rem;
}

.logo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 320px;
    position: relative;
    top: 5rem;
    right: 25rem;
    animation: breath 3s infinite ease-in-out;
}

@keyframes breath {
    0% {
        filter: brightness(0.8);
        transform: scale(1);
    }
    50%{
        filter: brightness(1.1);
        transform: scale(1.02);
    }
    100%{
        filter: brightness(0.8);
        transform: scale(1);
    }
}

.btnStart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../style/img/btn-start.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(0.9);
    transform: rotate(-4.7deg);
    margin: -230px 80px;
    width: 243px;
    height: 65px;
    font-size: 2rem;
    text-transform: uppercase;
}

.btnStart:hover {
    filter: brightness(1);
    transition: filter 0.5s ease;
}

.btnStart:active {
    filter: brightness(0.9);
    transition: filter 0.5s ease;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1280px;
    height: calc(100%);
    margin: 280px auto;
    justify-content: space-between;
    gap: 40px;
}

.content {
    width: 940px;
    height: 900px;
}

.aside {
    margin-top: 48px;
    width: 320px;
    height: 900px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../style/img/slider/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 899px;
    height: 320px;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 14rem;
    gap: 20px;
}

.label h2 {
    text-transform: uppercase;
    line-height: 2rem;
    color: #138d8f;
}

.label p {
    width: 420px;
}

.btnAside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 1rem;
}

.btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background: rgb(91,149,149);
    background: linear-gradient(0deg, rgba(91,149,149,1) 0%, rgba(155,213,215,1) 100%);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 1.4rem;
    width: 280px;
    height: 70px;
    text-transform: uppercase;
}

.btn:hover {
    filter: brightness(1.1);
    transition: filter 0.5s ease;
}

.video {
    background-image: url(../style/img/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 280px;
    height: 180px;
    border-radius: 10px;
    margin-top: 40px;
}