@font-face {
    font-family: Phenomena;
    src: url(../style/font/Phenomena.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #d9dfea;
    font-family: Phenomena;
    transition: all 0.5 ease-in-out;
    width: 100%;
    height: 100%;
}

.bg {
    background: url(../style/img/bg-screen.jpg);
    background-repeat: no-repeat;
    background-position: top;
    height: 650px;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    display: flex;
    align-items: center;
    background: rgb(91,149,149);
    background: linear-gradient(0deg, rgba(91,149,149,1) 0%, rgba(155,213,215,1) 100%);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    background: url(../style/img/bg-header.jpg);
    width: 1200px;
    height: 74px;
    margin: auto;
    border-radius: 10px;
    margin-top: -625px;
}

header a {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 25px;
    z-index: 10;
}

header a:hover {
    background: #529395;
    transition: background 0.5s ease;
}

.navLeft a:first-child:hover {
    border-radius: 10px 0 0 10px;
}

.navRight a:last-child:hover {
    border-radius: 0 10px 10px 0;
}

.navLeft,
.navRight {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.firstScreen {
    z-index: 1;
}

.hero {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 482px;
    position: relative;
    top: -21.5rem;
}

.logo {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 320px;
    position: relative;
    top: 5rem;
    right: 25rem;
    animation: breath 3s infinite ease-in-out;
}

@keyframes breath {
    0% {
        filter: brightness(0.8);
        transform: scale(1);
    }
    50%{
        filter: brightness(1.1);
        transform: scale(1.02);
    }
    100%{
        filter: brightness(0.8);
        transform: scale(1);
    }
}

.btnStart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../style/img/btn-start.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(0.9);
    transform: rotate(-4.7deg);
    margin: -7em 2em;
    width: 243px;
    height: 65px;
    font-size: 2rem;
    text-transform: uppercase;
}

.btnStart:hover {
    filter: brightness(1);
    transition: filter 0.5s ease;
}

.btnStart:active {
    filter: brightness(0.9);
    transition: filter 0.2s ease;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 1200px;
    margin: 280px auto;
}

.content {
    width: 900px;
}

.aside {
    width: 280px;
}

.swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../style/img/slider/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin-top: 1em;
    width: 900px;
    height: 250px;
}

.slidswiper-slideer img {
    margin-top: -70px;
}


.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    color: #00000050;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    color: #00000050;
}
  
.label {
    display: flex;
    flex-direction: column;
    margin-right: 8em;
    gap: 20px;
}

.label h2 {
    text-transform: uppercase;
    line-height: 3rem;
    color: #138d8f;
}

.label p {
    width: 420px;
    color: rgba(0, 0, 0, 0.5);
}

#news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.new {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    width: 440px;
    height: 180px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.new img {
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 40%;
}

.newLabel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
}

.newLabel h2 {
    text-transform: uppercase;
    color: #529395;
}

.newLabel span {
    color: #00000050;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #138d8f;
    color: #529395;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    width: 900px;
}

.more:hover {
    background: #138d8f;
    color: #fff;
    transition: background 0.5s ease, color 0.5s ease;
}

.more:active {
    background: none;
    color: #529395;
    transition: background 0.5s ease, color 0.5s ease;
}

.newFoot {
    display: flex;
    justify-content: space-between;
}

.nws {
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px;
}

/* Блок ASIDE */


.btnAside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 1rem;
}

.sld {
    justify-content: center;
    text-transform: none;
    width: 120px;
    height: 30px;
}

.lgh {
    justify-content: flex-end;
    gap: 10px;
    font-size: 1.4rem;
    width: 280px;
    height: 70px;
}

.rgh {
    justify-content: flex-start;
    gap: 10px;
    font-size: 1.4rem;
    width: 280px;
    height: 70px;
}

.btn:hover {
    filter: brightness(1.1);
    transition: filter 0.5s ease;
}

.btn:active {
    filter: brightness(1);
    transition: filter 0.2s ease;
}

.video {
    background-image: url(../style/img/video.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    filter: brightness(0.9);
    cursor: pointer;
    border: none;
    width: 280px;
    height: 180px;
    border-radius: 10px;
    margin-top: 40px;
}

.video:hover {
    filter: brightness(1.1);
    transition: filter 0.5s ease;
}

.video:active {
    filter: brightness(0.9);
    transition: filter 0.2s ease;
}

.vk {
    margin-top: 20px;
}

iframe#vkwidget1 {
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}